body {
    margin: 0px;
    background: repeating-linear-gradient(#4b61a4, #1d1d1d);
    height: 100vh;
    font-family: "Yu Gothic UI Semibold", serif;
}

nav {
    background-color: #1d1d1d;
}

.acko:hover {
    color: #ff0000;
}

nav .mainUl {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: "Yu Gothic UI Semibold";
    text-decoration: none;
    padding: 0px;
    font-size: 50px;
    color: #ffffff;
    margin: 25px;
}

.Dropdown li a {
    color: #ffffff;
}

.Dropdown li a:hover {
    padding: 15px;
    color: #605f5f;
}

i {
    margin: 30px;
    font-size: 70px;
}

.Dropdown {
    display: none;
}

.mainUl li {
    position: relative;
}

.mainUl li ul {
    position: absolute;
    background-color: #1d1c1c;
    width: 350px;
    height: 300px;
    padding: 10px;
    margin: 0;
    font-size: 50px;
}

.mainUl li:hover ul {
    text-decoration: none;
    padding: 25px;
    font-size: 60px;
    color: #ff0000;
    display: block;
}

.container {
    background-color: #1d1c1c;
    background: rgba(29, 28, 28, 0.7);
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    padding: 50px;
    width: 70%;
    text-align: center;
    border-radius: 20px;
    font-size: 25px;


}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    z-index: -1;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background-color: #4b61a4;
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

.container div {
    background-color: #1d1d1d;
    color: #ffffff;
    width: 50%;
    height: 10%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 12px;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    display: flex;
}

h1 {
    font-size: 50px;
}

hr {
    font-size: 25px;

    width: 42px;
    height: 12px;
    background-color: #8fafec;
    margin: 8px;
    border: solid #2d376d 2px;
}

.lajnaflex {
    display: flex;
    justify-content: left;
}
